<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Create a Dish</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/foods">food index</a>
                    </li>
                </ul>
            </nav>
    </header>
    <main>
        <form action="/foods" method="POST">
            Name:<input type="text" name="name"><br>
            Tasty:<input type="checkbox" name="tasty"><br>
            <input type="submit" value="create">
        </form>
    </main>
</body>
</html>